.form-container{
  display: flex;
  flex-direction: column;
  justify-content: start; 
  
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.error {
  color: red;
  font-weight: bold;
  margin-top: 8px;
}


.form-container h2 {
  margin-bottom: 16px;
}


.form-container button {
  padding: 8px 16px;
  max-width: 10%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }
}